@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.loading_container{
   width: 100vw;
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader{
    width: 10rem;
    height: 10rem;
    border: 10px solid #01d277;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.loader h1{
    color: #01d277;
    font-weight: bold;
    font-size: 3rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

